.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.right-column {
  line-height: 1.5rem;
  hyphens: auto;
}
li.Active {
  font-weight: 700;
}
.left-column ul {
  list-style-type: none;
}
.tm, .tm2 {
  font-family: 'Source Code Pro', monospace;
}
.tm {
  background-color: lightgreen;
}
.tm2 {
  background-color: lightcoral;
}
body {
  font-family: 'Ruda', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', sans-serif;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}