.GitHubBadge {
  text-decoration: none;
  display: inline-block !important;
  color: white !important;
}
span {
  background-color: #545454;
  padding: 0 0.2em 0 0.2em;
}
.name {
  border-radius: 2px 0 0 2px;
}
.stars {
  background-color: #434343;
  border-radius: 0 2px 2px 0;
}